html {
  overflow-y: scroll;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
  font-weight: 300;
}

h1, h2 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

h2 {
  color: #666;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 0;
}

h5 {
  font-weight: 300;
  margin-top: 0;
}

h6 {
  margin-bottom: 0;
  margin-top: 0;
}

.container {
  border: 1px solid #000;
  margin: 0 auto;
  min-height: 560px;
  overflow: hidden;
  padding: 5px;
  position: relative;
  width: 960px;
}

section {
  height: 100%;
  left: 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 550px;
}

.heading {
  left: 0;
  margin: auto;
  margin-bottom: 5px;
  position: relative;
  right: 0;
  width: 402px;
}

.QRCanvas {
  border: 1px #444 solid;
  bottom: 0;
  float: left;
  height: 400px;
  left: 0;
  margin: auto;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
}

canvas {
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.formular {
  float: right;
  overflow: auto;
  width: 413px;
}

form {
  margin-bottom: 30px;
  margin-top: 40px;
}

fieldset {
  border: 1px solid #bbb;
  padding-left: 15px;
}

legend {
  color: #444;
  font-weight: 400;
}

.formButtons {
  background: #f3f3f3;
  background: -webkit-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
  background: -moz-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
  background: -o-linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
  background: linear-gradient(linear, 0% 40%, 0% 70%, from(#F5F5F5), to(#F1F1F1));
  border: solid 1px #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #6e6e6e;
  display: inline-block;
  font-size: 10pt;
  margin-right: 10px;
  padding: 7px 12px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  -webkit-transition: border-color .218s;
  -moz-transition: border .218s;
  -o-transition: border-color .218s;
  transition: border-color .218s;
}

.formButtons:hover:not(:disabled) {
  border-color: #999;
  -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  color: #333;
}

.formButtons:active:not(:disabled) {
  border-color: #444;
  color: #000;
}

.formButtons:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.qrButton {
  bottom: 0;
  left: 0;
  margin: auto auto 5px 180px;
  position: absolute;
  right: 0;
}
.saveButton {
  bottom: 0;
  left: 0;
  margin: auto auto 5px 275px;
  position: absolute;
  right: 0;
}
.saveButton button {
  width: 86px;
}

.description {
  font-size: 0.8em;
}

.required {
  color: red;
}

.notRequired {
  visibility: hidden;
}

input::placeholder {
  font-size: 10pt;
  font-weight: 300;
}

.inputField {
  background-color: #ffffe0;
  -webkit-transition: background-color .5s ease-out;
  -moz-transition: background-color .5s ease-out;
  -o-transition: background-color .5s ease-out;
  transition: background-color .5s ease-out;
  border: 0 solid;
  border-bottom: 1px solid #aaa;
  color: #000;
  font-size: 10pt;
  font-weight: 300;
  padding: 4px;
  width: 95%;
}

.inputField:disabled {
  background-color: #e6e6e6;
}

.lastField {
  margin-bottom: 5px;
}

.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -moz-transition: height .5s, opacity 1s, visibility 1.3s;
  -webkit-transition: height .5s, opacity 1s, visibility 1.3s;
  -o-transition: height .5s, opacity 1s, visibility 1.3s;
  transition: height .5s, opacity 1s, visibility 1.3s;
  visibility: hidden;
}

.shown {
  opacity: 1;
  overflow: hidden;
  -moz-transition: height .5s, opacity 1s, visibility 1.3s;
  -webkit-transition: height .5s, opacity 1s, visibility 1.3s;
  -o-transition: height .5s, opacity 1s, visibility 1.3s;
  transition: height .5s, opacity 1s, visibility 1.3s;
  visibility: visible;
}

.parsley-success {
  background-color: #E7FFE7;
  color: #002E00;
}

input.parsley-error, input.parsley-error:disabled, select.parsley-error, textarea.parsley-error {
  background-color: #FFE5E5;
  color: #550000;
}

input.parsley-error:focus, input.parsley-error:disabled, select.parsley-error:focus, textarea.parsley-error:focus {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}
.parsley-errors-list {
  display: inline;
  padding: 0;

}
.parsley-errors-list.filled {
  color: #3C0000;
  height: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 1px;
  width: auto;
  font-size: 0.75em;
}
